services:
  traefik:
    image: traefik:v3.6
    ports:
      - "80:80"
      - "8081:8080"
    volumes:
      - ./traefik.yml:/etc/traefik/traefik.yml
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - traefik
    extra_hosts:
      - "host.docker.internal:host-gateway"

networks:
  traefik:
    name: traefik
